/*==Reset CSS==*/
* {
    margin: 0;
    padding: 0;
  }
  /*==Style cơ bản cho website==*/
  body {
    font-family: sans-serif;
    color: #333;
  }
  
  .logo_img{
    width: 300px;
    height: auto;

  }
  
  /*==Style cho menu===*/
  #menu ul {
    background: #000000;
    list-style-type: none;

  }
  #menu li {
    color: #f1f1f1;
    display: inline-block;
    text-align: center;
    width: 120px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-left: 25px;
    padding: 10px 20px;
  }
  #menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  #menu a:hover {
    text-shadow: 1px 1px 2px rgb(248, 245, 245), 0 0 25px rgb(246, 246, 248), 0 0 5px rgb(238, 238, 240);

  }
  /*==Dropdown Menu==*/
.sub-menu li {
    display: none;
  }
#menu li {
 position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
   }

   #menu li:hover .sub-menu {
    display: block;
   }

   .sub-menu li {
    margin-left: 0 !important;
   }

.slider-bar{
  text-align: center;
  width: 100%;
}